body {
  font-family:
    'Freesentation-3Light', serif;
  font-size: 1.25rem;
}

.post-link {
  font-size: 1.1rem;
}

// 기본 링크 색상
a {
  color: black;
  /* 초록색 (예시: Bootstrap의 success 색상) */
}

// 마우스를 올렸을 때 링크 색상 (선택 사항)
a:hover {
  color: black;
  /* 조금 더 진한 초록색 */
  text-decoration: underline;
  /* 밑줄 추가 */
}

// 방문한 링크 색상 (선택 사항)
a:visited {
  color: black;
  /* 방문 후에도 동일한 초록색 유지 */
}

// 다른 요소 안의 링크 색상 (예: 본문 내용)
.post-content a {
  color: black;
}

.page-content a {
  color: black;
}

// 헤더/푸터 링크 색상이 별도로 지정되어 있다면 오버라이드
.site-header a,
.site-footer a {
  color: black;
}

/* Footnotes */
.footnotes {
  font-size: 0.9rem;
  color: #828282;
  /* gray */
}

.footnotes a {
  color: #828282;
  /* gray */
}

.footnotes ol {
  list-style-type: none;
  /* 기본 숫자 제거 */
  counter-reset: footnote-counter;
  /* 카운터 초기화 */
  padding-left: 0;
}

.footnotes li {
  counter-increment: footnote-counter;
  /* 카운터 증가 */
  margin-bottom: 5px;
}

.footnotes li::before {
  content: "[" counter(footnote-counter) "]";
  /* `[1]` 형식으로 표시 */
  margin-right: 10px;
}

.footnotes p {
  display: inline;
  /* 각주 내용이 숫자 옆에 오도록 설정 */
}