@import "./color_schemes/light";

$link-color: $blue-100;

// 전체 페이지 배경
$body-background-color: #ffffff; //  f7f7fa

// sidebar 배경
$sidebar-color: #ecf0f8; // f2f3f5

// main content 부분 배경
$content-background-color: #ffffff;