@import "./color_schemes/light";

$link-color: $blue-100;

// 전체 페이지 배경
$body-background-color: #f8f9fb; // 살짝 밝은 그레이 톤

// sidebar 배경
$sidebar-color: #eef2f7; // 은은한 파스텔 블루 톤

// main content 부분 배경
$content-background-color: #ffffff;
