<style>
    @font-face {
        font-family: 'Noto Serif KR';
        font-style: normal;
        font-weight: 400;
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    }

    @font-face {
        font-family: 'NanumBarunpen';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Freesentation-3Light';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-3Light.woff2') format('woff2');
        font-weight: 200;
        font-style: normal;
    }

    @font-face {
        font-family: 'Freesentation-6SemiBold';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-6SemiBold.woff2') format('woff2');
        font-weight: 900;
        font-style: bold;
    }
</style>
